# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go
permissions:
  contents: write

on:
  push:
    branches: [ "main" ]
    tags:
      - '*'
  
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.25.3'
    - run: go get .

    - name: Test
      run: go test -v backend/...

    - name: Build Linux
      run: go build -o todo-linux

    - name: Build Windows
      run: GOOS=windows GOARCH=386 go build -o todo-win.exe 
      # run: go build -v .
    
    - run: ls
      
    - name: Create artifacts
      uses: actions/upload-artifact@v4
      with:
        path: | 
          todo-win.exe
          todo-linux
    
    - name: Release
      if:  github.ref_type == 'tag'
      uses: softprops/action-gh-release@v2
      with:
        files: |
          todo-win.exe
          todo-linux
        
